.wrapper {
    display: flex;
    align-items: center;
    gap: 2.5px;
}

.firstcircle {
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: #ffffff;
}

.secondcircle {
    display: inline-block;
    width: 10px;
    height: 22.5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.thirdcircle {
    display: inline-block;
    width: 20px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.fourthcircle {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 36px;
    text-transform: uppercase;
}

.description {
    font-size: 12px;
    line-height: 1;
    margin-left: 10px;
    color: #b0b0b0;
}
