@import "../../../data/variables.scss";

.wrapper {
    border-radius: 12px;
    transition: background-color 0.3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini {
    width: 100px;
    height: 40px;

    &.withIcon {
        gap: 10px;
    }
}

.small {
    width: 150px;
    height: 40px;
}

.middle {
    width: 180px;
    height: 55px;
}

.big {
    width: 280px;
    height: 60px;

    &.withIcon {
        gap: 40px;

        @media (max-width: $md2) {
            flex-direction: row-reverse;
        }
    }
}

.custom {
    height: 55px;
    padding: 0 20px;
}

.blue {
    background-color: $color-blue;

    @media (hover: hover) {
        &:hover {
            background-color: $color-blue-hover;
        }
    }
}

.purple {
    background-color: $color-purple;

    @media (hover: hover) {
        &:hover {
            background-color: $color-purple-hover;
        }
    }
}

.grayDark {
    background-color: $color-gray-dark;

    @media (hover: hover) {
        &:hover {
            background-color: $color-gray-dark-hover;
        }
    }
}

.black {
    background-color: $color-black;
    color: $color-white;

    @media (hover: hover) {
        &:hover {
            background-color: $color-black-hover;
        }
    }
}

.whiteBorder {
    border: 2px solid $color-white;
}
