@import "../../../../data/variables.scss";

.wrapper {
    text-align: center;
    font-size: 20px;
    background-color: $color-gray-dark;
    border-radius: 24px;
    padding: 20px 0px;
}

.colored {
    color: $color-purple;
}
