@import "../../../data/variables.scss";

.wrapper {
    text-align: center;
    color: $color-gray;
    margin: 0px auto;

    @media (max-width: $md4) {
        max-width: 320px;
    }

    @media (max-width: $md5) {
        max-width: 260px;
    }
}

.smallText {
    font-size: 18px;
    @media (max-width: $md4) {
        font-size: 16px;
    }
}

.middleText {
    font-size: 22px;
    @media (max-width: $md4) {
        font-size: 18px;
    }
}
