@import "../../../../data/variables.scss";

.headers {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 20px;

    @media (max-width: $md1) {
        gap: 40px;
    }
}

.header {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &.selectedHeader {
        & .number {
            background-color: rgba(20, 85, 255, 0.1);
            color: $color-blue;
        }

        & .line {
            background-color: $color-blue;
        }
    }

    @media (hover: hover) {
        &:hover {
            & .number {
                background-color: rgba(20, 85, 255, 0.1);
                color: $color-blue;
            }

            & .line {
                background-color: $color-blue;
            }
        }
    }
}

.row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.number {
    padding: 7.5px 15px;
    border-radius: 32px;
    background-color: $color-gray-light;
    font-weight: bold;
    transition:
        background-color 0.3s ease 0s,
        color 0.3s ease 0s;

    @media (max-width: $md2) {
        font-size: 12px;
    }
}

.title {
    font-weight: 700;

    @media (max-width: $md2) {
        font-size: 12px;
    }
}

.line {
    height: 3px;
    width: 100%;
    background-color: $color-gray;
    transition: background-color 0.3s ease 0s;
}

.cards {
    position: relative;
    height: 540px;
    border: 3px solid $color-gray-light;
    border-radius: 24px;
    padding: 30px;
    overflow: hidden;

    @media (max-width: $md2) {
        height: 350px;
    }
}

.card {
    position: absolute;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    display: flex;
    gap: 60px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.7s ease 0s,
        visibility 0.7s ease 0s;

    &.selectedCard {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: $md2) {
        gap: 20px;
    }
}

.description {
    position: relative;
    z-index: 2;
    flex: 0 0 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $md2) {
        flex: 0 0 270px;
    }
}

.bigText {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;

    @media (max-width: $md2) {
        font-size: 22px;
    }
}

.smallText {
    font-size: 26px;

    @media (max-width: $md2) {
        font-size: 18px;
    }
}

.withDot {
    position: relative;
    font-size: 20px;
    padding-left: 30px;

    @media (max-width: $md2) {
        font-size: 14px;
        padding-left: 20px;
    }

    &:not(&:last-child) {
        margin-bottom: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -25%);
        width: 7.5px;
        height: 7.5px;
        background-color: $color-gray-light;
        border-radius: 50%;
    }
}

.withLine {
    text-decoration: underline;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    width: 220px;
    border: 3px solid $color-gray-light;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;

    @media (max-width: $md2) {
        width: 160px;
        padding: 8px 12px;
        font-size: 14px;
    }
}

.icon {
    color: $color-blue;
}

.media {
    flex: 1 1 auto;
}

.video {
    border-radius: 24px;
    overflow: hidden;
    background: url("https://elon26.github.io/sotka-study/images/main-page/video_preview.webp") 0 0 / cover no-repeat;
}

.secondCardImage {
    max-width: 110%;
    max-height: 110%;
}

.fourthCardImage {
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
}

.faceArea {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.faceLine {
    position: absolute;
    top: -10px;
    left: 80px;
    width: 55px;
    height: 25px;
    transform: rotate(10deg);
    color: $color-purple;

    @media (max-width: $md2) {
        top: -15px;
        left: 40px;
        transform: rotate(0deg);
    }
}

.faceText {
    @media (max-width: $md2) {
        font-size: 12px;
    }
}

.cardMobile {
    border-radius: 24px;
    margin-bottom: 10px;
    overflow: hidden;
}

.withPadding {
    padding: 10px 20px;
}

.grayCardMobile {
    background-color: $color-gray-light;
}

.whiteCardMobile {
    border: 3px solid $color-gray-light;
}

.withBackground {
    position: relative;
    height: 500px;

    @media (max-width: $md5) {
        height: 300px;
    }
}

.blueCardMobile {
    background-color: $color-blue;
    color: $color-white;
}

.bigtextMobile {
    font-size: 22px;
    font-weight: bold;
}

.bigtextMobileFirst {
    max-width: 360px;
}

.bigtextMobileSecond {
    max-width: 260px;
}

.bigtextMobileThird {
    max-width: 350px;
}

.bigtextMobileFourth {
    max-width: 230px;
}

.videoMobile {
    height: 350px;
    border-radius: 24px;
    overflow: hidden;
    background: url("https://elon26.github.io/sotka-study/images/main-page/video_preview.webp") 0 0 / cover no-repeat;

    @media (max-width: $md5) {
        height: 250px;
    }
}

.buttonsMobile {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    @media (max-width: $md5) {
        margin-top: 10px;
        gap: 10px;
    }
}

.buttonMobile {
    width: 160px;
    border: 2px solid $color-gray;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.iconMobile {
    color: $color-white;
}

.secondCardImageMobile {
    position: relative;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
}

.fourthCardImageMobile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @media (max-width: $md5) {
        top: auto;
        bottom: 0;
        height: 80%;
    }
}

.smallTextMobile {
    margin-top: 15px;
    max-width: 300px;
}

.playerMobileWrapper {
    overflow: hidden;
    margin-top: 20px;
}

.playerMobile {
    width: 200%;
    height: 200%;
    transform: translate(-25%, -80px);
}

.faceAreaMobile {
    margin-top: -80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.faceTextMobile {
    position: relative;
    flex: 0 1 250px;
    font-size: 16px;
}

.faceLineMobile {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 55px;
    height: 25px;
    transform: rotate(10deg);
    color: $color-purple;
}
