@import "../../../../data/variables.scss";

.examAndDisciplineArea {
    display: flex;
    align-items: start;

    @media (max-width: $md2) {
        flex-direction: column;
        gap: 20px;
    }

    @media (max-width: $md4) {
        align-items: center;
    }
}

.examArea {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.disciplineArea {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px;
    border-left: 1px solid $color-gray-light;

    @media (max-width: $md2) {
        padding-left: 0;
        border-left: none;
    }

    @media (max-width: $md4) {
        justify-content: center;
    }
}

.teachersArea {
    position: relative;
    height: 600px;

    @media (max-width: $md2) {
        height: 450px;
    }

    @media (max-width: $md3) {
        height: 375px;
    }

    @media (max-width: $md4) {
        height: 700px;
    }

    @media (max-width: $md5) {
        height: 780px;
    }
}

.teacherArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;

    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.7s ease 0s,
        visibility 0.7s ease 0s;

    &.visibile {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: $md4) {
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 20px;
    }
}

.info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @media (max-width: $md1) {
        font-size: 14px;
    }

    @media (max-width: $md4) {
        flex: 1 1 auto;
        max-width: 500px;
        margin: 0 auto;
        gap: 10px;
        justify-content: space-evenly;
    }
}

.name {
    font-size: 38px;
    font-weight: bold;
    transform: rotate(-2.5deg);

    @media (max-width: $md1) {
        font-size: 28px;
    }
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $md1) {
        gap: 10px;
    }
}

.advantage {
    position: relative;
    font-size: 20px;
    padding-left: 30px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -25%);
        width: 7.5px;
        height: 7.5px;
        background-color: $color-gray-light;
        border-radius: 50%;
    }

    @media (max-width: $md1) {
        font-size: 16px;
    }
}

.expert {
    &::before {
        background-color: $color-blue;
    }
}

.buttons {
    display: flex;
    gap: 15px;

    @media (max-width: $md1) {
        gap: 10px;
    }

    @media (max-width: $md5) {
        flex-wrap: wrap;
        justify-content: center;
        a:first-child {
            flex: 1 1 100%;
        }
    }
}

.photo {
    flex: 1 1 auto;

    @media (max-width: $md4) {
        flex: 0 0 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: $md5) {
        flex: 0 0 250px;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @media (max-width: $md4) {
        width: 350px;
        height: 300px;
    }

    @media (max-width: $md5) {
        width: 300px;
        height: 250px;
    }
}
