$color-white: #fff;
$color-white-darken: #f4f5f6;
$color-black: #000;
$color-black-light: #1a1a1a;
$color-black-lighten: #141414;
$color-gray: #969696;
$color-gray-dark: #171717;
$color-gray-dark-hover: #202020;
$color-gray-darken: #111;
$color-gray-light: #e9e9e9;
$color-blue: #1455ff;
$color-blue-hover: #0136bd;
$color-purple: #a77dff;
$color-purple-hover: #8f5bff;
$color-orange: #ff8e3c;
$color-green: #6ecb43;
$color-you-tube: #f93c3c;
$color-skolkovo: #d3e84b;

$md1: 1239.98px;
$md2: 1023.98px;
$md3: 899.98px;
$md4: 767.98px;
$md5: 479.98px;
